.header {
    visibility: hidden;
    max-width: 60rem;
    margin: auto;
    justify-content: center;
    margin-bottom: 5rem;
}

.mobile {
    color: black;
    padding: 0.5rem;
    margin-top: 15px;
}

.mobileNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #0D0C1D;
    --tw-bg-opacity: 1;
    border-radius: 1rem;
    color: white;
    height: 80px;
    text-align: left;
    width: 100%;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out;
}

.mobilenavopen {
    transform: translateX(0);
    z-index: 10;
}
.mobilenavclose {
    transform: translateX(-100%);
}
.mobileActiveL {
    color: #FFF;
}

@media (min-width: 768px) {
    .header {
        visibility: visible;
    }
  }
@media screen and (max-width: 767px ) {
    .mobile {
        display: block;
    }
}